 body {
     background-image: url('03.jpg');
     background-repeat: no-repeat;
     background-position: -775px -670px;
     background-size: 3500px 6860px;
     text-align: center;
 }
 
 h2 {
     /* 預留歌曲名稱顯示空間 */
     height: 32px;
     font-size: medium;
 }